.eventPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.eventName {
  font-weight: 700;
  font-size: 28px;
  line-height: 24px;
  padding: 0 15px;
  color: #240d57;
}

.hostName {
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  padding: 0 15px;
  color: #828282;
}

@media only screen and (max-width: 600px) {
    .eventPage{
        display: block;
        flex-direction: none;
        justify-content: none;
        align-items: none;
        padding: 0px;
    }
  }