.eventName {
  font-weight: 700;
  font-size: 28px;
  line-height: 24px;
  padding: 0 15px;
  color: #240d57;
}

.hostName {
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  padding: 0 15px;
  color: #828282;
}
